<!-- 
<div ng-controller="ServiceCtrl" class="row">
	<table class="table table-condensed table-hover table-striped">
		<thead>
		<tr>
			<th>Service</th>
			<th>Status</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Stream</td>
			<td><span ng-show="status.stream"><aic-spinner></aic-spinner></span></td>
			<td><button ng-disabled="status.active" class="btn btn-default" ng-click="startService()">Start Service</button></td>
		</tr>
		<tr>
			<td>Extraction</td>
			<td><span ng-show="status.extraction"><aic-spinner></aic-spinner></span></td>
			<td><button ng-disabled="status.active" class="btn btn-default" ng-click="startExtraction()">Start Extraction</button></td>
		</tr>
		<tr>
			<td>Analyse</td>
			<td><span ng-show="status.analyse"><aic-spinner></aic-spinner></span></td>
			<td><button ng-disabled="status.active" class="btn btn-default" ng-click="startAnalyse()">Start Analyse</button></td>
		</tr>
		</tbody>
		</table>
	<button ng-disabled="!status.active" class="btn btn-default" ng-click="stopService()">Stop Service</button>
</div>
<hr>
-->
<!--  <aic-user-table on-select="test(user)"></aic-user-table> -->
<div class="row">
	<div class="col-xs-6" ng-controller="ConnectionCtrl">
		<h3>Connections</h3>
		<select ng-model="selTopic" ng-options="t for t in topics"
			ng-change="findUsers(t)">
		</select>
		<div class="topicConnectedUsers">
			<table class="table table-condensed table-hover table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
					</tr>
				</thead>
				<tr ng-repeat="con in connectedUsers">
					<td>{{con.id}}</td>
					<td>{{con.label}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-xs-6">
		<div id="graphContainer"></div>
	</div>
</div>

