<h3>Query</h3>
<h4>Most influential person </h4>
<div class="panel panel-default">
	<div class="panel-body">
		<a class="btn btn-default btn-sm" ng-click="qc.queryMostInflPersons()"><i class="fa fa-refresh"></i> Start</a>
		<div class="row" ng-show="qc.mostInflPersons.length > 0">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<table class="table table-condensed table-hover table-striped">
					<thead>
						<th>Rank</th>
						<th>Name</th>
					</thead>
					<tbody>
						<tr ng-repeat="p in qc.mostInflPersons">
							<td data-title="Rank">
								{{$index}}
							</td>
							<td data-title="Name">
								{{p.name | empty:"no Name"}}  ({{p.screenName}})
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<h4>Query users with interests</h4>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<ul class="topic-list">
					<li ng-repeat="x in qc.topics">
						<span class="checkbox">
						<label>
							<input type="checkbox" ng-value="x.name" ng-click="qc.selectTopics(x.name)">
							{{x.name}}
						</label>
						</span>
					</li>
				</ul>
				<!--<select id="topicsSel" class="form-control" ng-model="topicSel" multiple="multiple" ng-options="x as x.name for x in qc.topics">
				</select>-->
			</div>
		</div>
		<a class="btn btn-default btn-sm" ng-click="qc.queryPersonsWithTopics()"><i class="fa fa-refresh"></i> Start</a>
		<div class="row" ng-show="qc.personsWithTopics.length > 0">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<table class="table table-condensed table-hover table-striped">
					<thead>
						<th>Rank</th>
						<th>Name</th>
					</thead>
					<tbody>
						<tr ng-repeat="p in qc.personsWithTopics">
							<td data-title="Rank">
								{{$index}}
							</td>
							<td data-title="Name">
								{{p.name | empty:"no Name"}}  ({{p.screenName}})
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<h4>Suggest ads for User (existing interests)</h4>
<h4>Suggest ads for User (potential interests)</h4>