<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<head>
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet" type="text/css">
<link
	href="bower_components/angular-loading-bar/build/loading-bar.min.css"
	rel="stylesheet" type="text/css">
<link href="css/app.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div ng-app="bigdataApp" class="container">
		<div ng-controller="ServiceCtrl" class="row">
			<button ng-click="startService()">Start Service</button>
			<button ng-click="stopService()">Stop Service</button>
			<button ng-click="startAnalyse()">Start Analyse</button>
			<button ng-click="getStatus()">Get Status</button>
			<div>{{result}}</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6" ng-controller="UserCtrl">
				<h3>Users</h3>

				Page:<input ng-model="pageNumber" /> PageSize:<input
					ng-model="pageSize" />
				<button ng-click="updateUsers()">Get Users!</button>
				<table class="table table-condensed table-hover table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
						</tr>
					</thead>
					<tr ng-repeat="usr in users.result" ng-click="selectUser(usr)">
						<td>{{usr.id}}</td>
						<td>{{usr.name}}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-6" ng-controller="ConnectionCtrl">
				<h3>Connections</h3>
				<select ng-model="selTopic" ng-options="t for t in topics"
					ng-change="findUsers(t)">
				</select>
				<div class="topicConnectedUsers">
					<table class="table table-condensed table-hover table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
							</tr>
						</thead>
						<tr ng-repeat="con in connectedUsers">
							<td>{{con.id}}</td>
							<td>{{con.label}}</td>
						</tr>
					</table>
				</div>
				<div id="graphContainer"></div>
			</div>
		</div>
	</div>


	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script
		src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
	<script src="bower_components/sigma.js/sigma.min.js"></script>
	<script src="scripts/app.js"></script>
</body>

</html>